@page
@model MyCollection.Pages.Coins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Dime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Dime.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Nominal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Nominal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.CoinGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.CoinGrade.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Avers")
        </dt>
        <dd class="col-sm-10">
            <img src=@Model.Coin.CoinPhotos.Where(c=>c.IsAvers).FirstOrDefault()?.Photo.ImageUrl class="img-fluid"/>        
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Revers")
        </dt>
        <dd class="col-sm-10">
            <img src=@Model.Coin.CoinPhotos.Where(c=>c.IsRevers).FirstOrDefault()?.Photo.ImageUrl class="img-fluid" />        
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Coin?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
