@page
@model SaveMyCollections.Pages.Admin.UserRoles.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles[0].Roles)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRoles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @string.Join("; ",item.Roles.ToList())
            </td>
            
            <td>
                <a class="btn btn-primary" asp-page="./Manage" asp-route-id="@item.User.Id">Manage</a> 
            </td>
        </tr>
}
    </tbody>
</table>

