@page
@model SaveMyCollections.Pages.Stamps.CreateModel
@inject CommonLocalizationService commonLocalizer

@{
    ViewData["Title"] = "Create";
}

<h1>@commonLocalizer.Get("Create")</h1>

<h4>@commonLocalizer.Get("Stamp")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stamp.CountryId" class="control-label"></label>
                <select asp-for="Stamp.CountryId" class ="form-control" asp-items="ViewBag.CountryId">
                    <option value="">-- Select Country --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Stamp.CurrencyId" class="control-label"></label>
                <select asp-for="Stamp.CurrencyId" class ="form-control" asp-items="ViewBag.CurrencyId">
                    <option value="">-- Select Currency --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Stamp.DimeId" class="control-label"></label>
                <select asp-for="Stamp.DimeId" class ="form-control" asp-items="ViewBag.DimeId">
                    <option value="">-- Select Dime --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Stamp.Nominal" class="control-label"></label>
                <input asp-for="Stamp.Nominal" class="form-control" />
                <span asp-validation-for="Stamp.Nominal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stamp.Year" class="control-label"></label>
                <input asp-for="Stamp.Year" class="form-control" />
                <span asp-validation-for="Stamp.Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Stamp.IsCancelated" /> @Html.DisplayNameFor(model => model.Stamp.IsCancelated)
                </label>
            </div>            
            <div class="form-group">
                <label asp-for="Stamp.StampGradeId" class="control-label"></label>
                <select asp-for="Stamp.StampGradeId" class ="form-control" asp-items="ViewBag.StampGradeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stamp.Price" class="control-label"></label>
                <input asp-for="Stamp.Price" class="form-control" />
                <span asp-validation-for="Stamp.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stamp.Note" class="control-label"></label>
                <input asp-for="Stamp.Note" class="form-control" />
                <span asp-validation-for="Stamp.Note" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label">@commonLocalizer.Get("Photo")</label>
                <input type="file" name="stampImage" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value=@commonLocalizer.Get("Create") class="btn btn-primary" />
                <a class="btn btn-info" asp-page="Index">@commonLocalizer.Get("BackToList")</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
