@page
@model SaveMyCollections.Pages.Stamps.DetailsModel
@inject CommonLocalizationService commonLocalizer

@{
    ViewData["Title"] = "Details";
}

<h1>@commonLocalizer.Get("Details")</h1>

<div>
    <h4>@commonLocalizer.Get("Stamp")</h4>
    <hr />
    <dl class="row">  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Country.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Currency.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Dime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Dime.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Nominal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Nominal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.IsCancelated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.IsCancelated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.StampGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.StampGrade.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamp.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamp.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName(commonLocalizer.Get("Photo"))
        </dt>
        <dd class="col-sm-10">
            <img style="width:800px; object-fit:cover; border-radius:5px"
                 src="@Model.Stamp.StampPhoto?.FileLocation\@Model.Stamp.StampPhoto?.FileName">            
        </dd>
    </dl>
</div>
<div>
     @if (Model.Stamp.AllowEdit)
    {
        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Stamp?.Id">@commonLocalizer.Get("Edit")</a>
    }
    <a class="btn btn-info" asp-page="./Index">@commonLocalizer.Get("BackToList")</a>
</div>
