@page
@model SaveMyCollections.Pages.Collections.Stamps.IndexModel
@inject CommonLocalizationService commonLocalizer
@inject IStringLocalizer<IndexModel> localizer
@{
    ViewData["Title"] = "Index";
}

<h1>@localizer["StampCollection"]</h1>
<p>
    <a asp-page="Create">@commonLocalizer.Get("CreateNew")</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            @localizer["FindByCountry"]
            <select name="SearchString" class="form-control" asp-items="ViewBag.CountryId">
                <option value="">@localizer["SelectCountry"]</option>
            </select>
            <input type="submit" value=@commonLocalizer.Get("Search") class="btn btn-primary" /> 
            <a class="btn btn-info" asp-page="./Index">@commonLocalizer.Get("BackToFullList")</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CountrySort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Stamp[0].Country)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stamp[0].Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stamp[0].Dime)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NominalSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Stamp[0].Nominal)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.YearSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Stamp[0].Year)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stamp[0].IsCancelated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stamp[0].StampGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stamp[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stamp[0].Note)
            </th>
            <th>
                @Html.DisplayName(commonLocalizer.Get("Photo"))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stamp)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dime.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCancelated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StampGrade.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <img style="width:320px; object-fit:cover; border-radius:5px"
                        src="@item.StampPhoto?.FileLocation\@item.StampPhoto?.FileName">
                </td>
                <td>
                    @if (item.AllowEdit)
                    {
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">@commonLocalizer.Get("Edit")</a>
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">@commonLocalizer.Get("Details")</a>
                    @if (item.AllowEdit)
                    {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">@commonLocalizer.Get("Delete")</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.Stamp.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Stamp.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Stamp.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    @commonLocalizer.Get("Previous")
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Stamp.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    @commonLocalizer.Get("Next")
</a>
