@page
@model SaveMyCollections.Pages.Coins.CreateModel
@inject CommonLocalizationService commonLocalizer

@{
    ViewData["Title"] = "Create";
}

<h1>@commonLocalizer.Get("Create")</h1>

<h4>@commonLocalizer.Get("Coin")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Coin.DimeId" class="control-label"></label>
                <select asp-for="Coin.DimeId" class ="form-control" asp-items="ViewBag.DimeId">
                    <option value="">@commonLocalizer.Get("SelectDime")</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Nominal" class="control-label"></label>
                <input asp-for="Coin.Nominal" class="form-control" />
                <span asp-validation-for="Coin.Nominal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Year" class="control-label"></label>
                <input asp-for="Coin.Year" class="form-control" />
                <span asp-validation-for="Coin.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.FirstDate" class="control-label"></label>
                <input asp-for="Coin.FirstDate" class="form-control" />
                <span asp-validation-for="Coin.FirstDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.CoinMaterialId" class="control-label"></label>
                <select asp-for="Coin.CoinMaterialId" class ="form-control" asp-items="ViewBag.MaterialId">
                    <option value="">@commonLocalizer.Get("SelectMaterial")</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Coin.CoinGradeId" class="control-label"></label>
                <select asp-for="Coin.CoinGradeId" class ="form-control" asp-items="ViewBag.CoinGradeId">
                    <option value="">@commonLocalizer.Get("SelectGrade")</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Price" class="control-label"></label>
                <input asp-for="Coin.Price" class="form-control" />
                <span asp-validation-for="Coin.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Name" class="control-label"></label>
                <input asp-for="Coin.Name" class="form-control" />
                <span asp-validation-for="Coin.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Description" class="control-label"></label>
                <input asp-for="Coin.Description" class="form-control" />
                <span asp-validation-for="Coin.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Note" class="control-label"></label>
                <input asp-for="Coin.Note" class="form-control" />
                <span asp-validation-for="Coin.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@commonLocalizer.Get("Avers")</label>
                <input type="file" name="aversImage" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">@commonLocalizer.Get("Revers")</label>
                <input type="file" name="reversImage" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value=@commonLocalizer.Get("Create") class="btn btn-primary" />
                <a class="btn btn-info" asp-page="Index">@commonLocalizer.Get("BackToList")</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
