@page
@model SaveMyCollections.Pages.Coins.DeleteModel
@inject CommonLocalizationService commonLocalizer

@{
    ViewData["Title"] = "Delete";
}

<h1>@commonLocalizer.Get("Delete")</h1>

<h3>@commonLocalizer.Get("Are you sure you want to delete this?")</h3>
<div>
    <h4>@commonLocalizer.Get("Coin")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Dime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Dime.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Nominal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Nominal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.CoinGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.CoinGrade.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coin.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coin.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName(commonLocalizer.Get("Avers"))
        </dt>
        <dd class="col-sm-10">
            <div>
                <img style="width:320px; object-fit:cover; border-radius:5px"
                 src="@Model.Coin.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo?.FileLocation\@Model.Coin.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo?.FileName">
                
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName(commonLocalizer.Get("Revers"))
        </dt>
        <dd class="col-sm-10">
            <div>
                <img style="width:320px; object-fit:cover; border-radius:5px"
                 src="@Model.Coin.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo?.FileLocation\@Model.Coin.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo?.FileName">
            </div>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Coin.Id" />
        <input type="submit" value=@commonLocalizer.Get("Delete") class="btn btn-danger" /> 
        <a class="btn btn-info" asp-page="./Index">@commonLocalizer.Get("BackToList")</a>
    </form>
</div>
