@page
@model SaveMyCollections.Pages.Coins.EditModel
@inject CommonLocalizationService commonLocalizer

@{
    ViewData["Title"] = "Edit";
}

<h1>@commonLocalizer.Get("Edit")</h1>

<h4>@commonLocalizer.Get("Coin")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Coin.Id" />
            <div class="form-group">
                <label asp-for="Coin.DimeId" class="control-label"></label>
                <select asp-for="Coin.DimeId" class="form-control" asp-items="ViewBag.DimeId">
                    <option value="">@commonLocalizer.Get("SelectDime")</option>
                </select>
                <span asp-validation-for="Coin.DimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Nominal" class="control-label"></label>
                <input asp-for="Coin.Nominal" class="form-control" />
                <span asp-validation-for="Coin.Nominal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Year" class="control-label"></label>
                <input asp-for="Coin.Year" class="form-control" />
                <span asp-validation-for="Coin.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.CoinGradeId" class="control-label"></label>
                <select asp-for="Coin.CoinGradeId" class="form-control" asp-items="ViewBag.CoinGradeId">
                    <option value="">@commonLocalizer.Get("SelectGrade")</option>
                </select>
                <span asp-validation-for="Coin.CoinGradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Price" class="control-label"></label>
                <input asp-for="Coin.Price" class="form-control" />
                <span asp-validation-for="Coin.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coin.Note" class="control-label"></label>
                <input asp-for="Coin.Note" class="form-control" />
                <span asp-validation-for="Coin.Note" class="text-danger"></span>
            </div>
            <div>
                @Html.DisplayName(commonLocalizer.Get("Avers"))
                @if(Model.Coin.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo != null)
                {
                    <img style="width:320px; object-fit:cover; border-radius:5px"
                        src="@Model.Coin.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo?.FileLocation\@Model.Coin.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo?.FileName">
                }
                
            </div>
            <div class="form-group">
                <label class="control-label">@commonLocalizer.Get("ChangeAvers")</label>
                <input type="file" name="aversImage" class="form-control" />
            </div>
            <div>
                @Html.DisplayName(commonLocalizer.Get("Revers"))
                @if(Model.Coin.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo != null)
                {
                    <img style="width:320px; object-fit:cover; border-radius:5px"
                        src="@Model.Coin.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo?.FileLocation\@Model.Coin.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo?.FileName">
                }
                
            </div>
             <div class="form-group">
                <label class="control-label">@commonLocalizer.Get("ChangeRevers")</label>
                <input type="file" name="reversImage" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value=@commonLocalizer.Get("Save") class="btn btn-primary" />
                <a class="btn btn-info" asp-page="./Index">@commonLocalizer.Get("BackToList")</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
