@page
@model SaveMyCollections.Pages.Collections.Coins.IndexModel
@inject IStringLocalizer<IndexModel> localizer
@inject CommonLocalizationService commonLocalizer
@{
    ViewData["Title"] = "Index";
}

<h1>@localizer["CoinCollection"]</h1>
<p>    
    <a asp-page="Create">@commonLocalizer.Get("CreateNew")</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            @localizer["FindByDime"]
            <select name="SearchString" class ="form-control" asp-items="ViewBag.DimeId">
                <option value="">@localizer["SelectDime"]</option>
            </select>
            <input type="submit" value=@commonLocalizer.Get("Search") class="btn btn-primary" />            
            <a class="btn btn-info" asp-page="./Index">@commonLocalizer.Get("BackToFullList")</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DimeSort"
                   asp-route-currentFilter="@Model.CurrentFilter">               
                @Html.DisplayNameFor(model => model.Coin[0].Dime)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NominalSort"
                   asp-route-currentFilter="@Model.CurrentFilter">                               
                @Html.DisplayNameFor(model => model.Coin[0].Nominal)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.YearSort"
                   asp-route-currentFilter="@Model.CurrentFilter">                               
                @Html.DisplayNameFor(model => model.Coin[0].Year)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin[0].CoinGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin[0].Note)
            </th>
            <th>
                @Html.DisplayName(commonLocalizer.Get("Avers"))
            </th>
            <th>
                @Html.DisplayName(commonLocalizer.Get("Revers"))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Coin) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dime.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoinGrade.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                    @if(item.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo != null)
                     {
                        <img style="width:320px; object-fit:cover; border-radius:5px"
                            src="@item.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo?.FileLocation\@item.CoinPhotos.Where(b=>b.IsAvers).FirstOrDefault()?.Photo?.PrevFileName">
                     }
                </td>
                <td>
                    @if(item.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo != null)
                     {
                        <img style="width:320px; object-fit:cover; border-radius:5px"
                            src="@item.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo?.FileLocation\@item.CoinPhotos.Where(b=>b.IsRevers).FirstOrDefault()?.Photo?.PrevFileName">
                     }
                    
                </td>
            <td>
                @if (item.AllowEdit)
                    {
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">@commonLocalizer.Get("Edit")</a>
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">@commonLocalizer.Get("Details")</a>
                    @if (item.AllowEdit)
                    {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">@commonLocalizer.Get("Delete")</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.Coin.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Coin.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Coin.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    @commonLocalizer.Get("Previous")
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Coin.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    @commonLocalizer.Get("Next")
</a>
